@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap');

:root{
  --primary-white: #fff;
  --primary-dark: rgba(255,255,255,0);
}

body{
  font-family: "Roboto Condensed" sans-serif;
}
/*-----------------------------NAVBAR----------------*/
.logo{
  position: relative;
  width: 5.625rem;
  height: 5.625rem;
  left: 15px;
  background-size: contain;
}

/*--- MENU LINKS ---*/
nav a.nav-link{
  font-size: 0.8rem;
  letter-spacing: 0.0375rem;
  cursor: pointer;
}
nav ul li{
  text-transform: uppercase;
}
.navbar-nav > li > a{
  margin-right: 0.75rem;
  margin-left: 0.75rem;
  color: var(--primary-white) !important;
  border-top: 0.1875rem solid var(--primary-dark);
}

.navbar-brand{
  max-width: 17.25rem;
  padding: 0 !important;
  height: 6rem !important;
}

.navbar-nav > li > a.active, .navbar-nav > li > a.active:focus{
  border-top: 0.1875rem solid #fec6af;
}

.navbar-nav > li > a:hover{
  border-top: 0.1875rem solid #fec6af;
}

/*********************** HEADER **********************/
.header-warper{
  position: relative;
  background: url(../src/images/header_Background.jpg) no-repeat;
  background-size: cover;
  background-position: center;
  height: 90vh;
}

.main-info{
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: "Robot Condensed", sans-serif;
}

.main-info h1{
  color: #fec6af;
  text-transform: uppercase;
}

/*-------------- TYPED TEXT ---------*/
.typed-text{
  font-size: 2rem;
  color: var(--primary-white);
  
}

/*------------- HEADER MAIN OFFER BUTTON ----------*/
.btn-main-offer{
  border: 1px solid #fec6af;
  text-transform: uppercase;
  border-radius: 0;
  padding: 0.625rem 0.75rem 0.75rem 0.75rem;
  color: var(--primary-white);
  margin: 2rem;
}

.btn-main-offer:hover{
  text-decoration: none;
  background-color: #085597;
  color: var(--primary-white);
  transition: .2s ease-in-out;
}

/************ MOBILE DEVICES W/H *****************/
/* @media(max-width:) {
  Template
} */